.welcome_header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome_header_title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome_header_text {
  width: 35%;
  opacity: 0.7;
}
#login_form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login_form input {
  border: none;
  font-size: 18px;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

#login_form::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login_form_input_submit {
  margin: -10px 0px;
}
#login_form input:nth-child(3) {
  margin-top: 15px;
  border: none;
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}
#login_form input:nth-child(4) {
  border: none;
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}
#login_form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
#login_form input:focus {
  border-color: var(--yellow);
}
