.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 35px 25px;
  box-sizing: border-box;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
